@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
/* nav .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white; 
} */
.nav-link:hover{
    background:#ff0404;
    margin-right:10px;
    transition: 0.8s;
    color:#fff;
    padding: 4px 6px;
}
.nav-link.active{
    background:#ff0404;
    color:#fff;
    margin-right:10px;
    padding: 4px 6px;
}
.slider{
    margin-top: 20px;
    position: relative;
}
.slider .owl-item.active.center .slider-card{
    transform: scale(1);
    opacity: 1;
}

.slider-card{
    transform: scale(.90);
    opacity: 0.5;
    transition: all 0.3s;
    height: 350px;
    position: relative;
}

.slide-text{
    position: absolute;
    top:calc(50% - 20px);
    margin-left: 8px;
    z-index: 2;
}
.slide-text a{
    color:#fff;
    text-decoration: none;
    font-weight: 700;
}
.owl-nav .owl-next{
    position: absolute;
    top: calc(50% - 80px);
    right: 10px;
    opacity: 1;
    z-index: 1;
    font-size: 30px !important;
    font-weight: 700 !important;
}
.owl-nav .owl-prev{
    position: absolute;
    top: calc(50% - 80px);
    left: 10px;
    opacity: 1;
    z-index: 1;
    font-size: 30px !important;
    font-weight: 700 !important;
}